* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#s1 {
    height: 550px;
    background-color: midnightblue;
    background-image: url(img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.container {
    width: 1024px;
    margin: auto;
    position: relative;
}
section > .container {
    height: 100%;
}
nav {
    height: 80px;
}
nav > img {
    height: 100%;
    padding: 10px;
}
nav li {
    display: inline-block;
    text-transform: uppercase;
    margin: 10px;
    font-size: 10px;
    line-height: 80px;
}
a {
    text-decoration: none;
    color: white;
}
header:after {
    content: '';
    display: table;
    clear: both;
}
nav > img, #list-1 {
    float: left;
}
#list-2 {
    float: right;
}
.button {
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
}
.b1 {
    border: 1px solid white;
    padding: 10px 20px;
}
.b2 {
    background-color: limegreen;
}
.title-text {
    width: 500px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
h1{
    color: white;
    font-size: 50px;
    margin-bottom: 40px;
}
#banner-button {
    padding: 20px;
    display: inline-block;
}
#s2 {
    background-color: lightgrey;
    height: 150px;
}
.banner-text {
    width: 100%;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-text > p {
    color: grey;
    margin-top: 10px;
}