* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#s1 {
    height: 550px;
    background-color: midnightblue;
    background-image: url(img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.container {
    width: 1024px;
    height: 100%;
    margin: auto;
    position: relative;
}
nav {
    height: 80px;
}
nav > img {
    height: 100%;
    padding: 10px;
}
nav li {
    display: inline-block;
    text-transform: uppercase;
    margin: 10px;
    font-size: 10px;
    line-height: 80px;
}
li a, a.button {
    text-decoration: none;
    color: white;
}
header:after {
    content: '';
    display: table;
    clear: both;
}
nav > img, #list-1 {
    float: left;
}
#list-2 {
    float: right;
}
.button {
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
}
.b1 {
    border: 1px solid white;
    padding: 10px 20px;
}
.b2 {
    background-color: limegreen;
}
.title-text {
    width: 500px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
h1{
    color: white;
    font-size: 50px;
    margin-bottom: 40px;
}
.big {
    padding: 20px;
    display: inline-block;
}
#s2 {
    background-color: lightgrey;
    height: 150px;
}
.banner-text {
    width: 100%;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-text > p {
    color: grey;
    margin-top: 10px;
}
#s3 {
    height: 450px;
    border-bottom: 1px solid grey;
}
#s3 > container::after {
    content: '';
    display: table;
    clear: both;
}
.column {
    float: left;
}
#s3 .column {
    width: 33.3%;
    padding: 30px 25px;
    text-align: center;
    font-size: 16px;
}
#s3 img {
    height: 150px;
}
#s3 h2 {
    color: limegreen;
    margin: 15px 0;
    height: 50px;
}
.line {
    width: 60px;
    height: 20px;
    border-top: 1px solid grey;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#s3 p {
    color: grey;
}
#s4 {
    height: 500px;
}
#s4 .column {
    width: 50%;
    padding: 40px;
}
#s4 img {
    width: 100%;
}
.column-text {
    width: 400px;
    font-size: 20px;
}
.column-text > p {
    margin: 20px 0;
}
.column-text > a {
    color: blue;
    font-size: initial;
}
#s5 {
    height: 150px;
    background-color: lightgray;
}
footer {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
footer::after {
    content: '';
    display: table;
    clear: both;
}
footer h2 {
    float: left;
}
.footer-text {
    float: right;
}
.footer-text > * {
    margin-left: 20px;
}
footer span {
    color: grey;
}
footer .selector {
    width: 150px;
    color: grey;
    background-color: lightgray;
    border: none;
    border-bottom: 1px solid grey;
}